<div class="banner_index" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 50%), url('<%= image_path 'talent_index.jpg' %>');">
  <div class="banner_content_index">
    <h1>All the talents</h1>
    <p> book a talent now and join our community </p>
    <%= link_to "become a talent",  new_talent_path, class: "btn btn-primary" %>
  </div>
</div>



<h3 class="text-center"> See all talents</h3>
<div class="container">
  <div class="row">
      <% @talents.each do |talent| %>



        <%=  render "shared/card", talent: talent %>


    <% end %>
  </div>
</div>

