<div class="banner_dashboard" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 50%), url('<%= image_path 'ballon.jpg' %>');">
  <div class="banner_content_dashboard">

     <% if user_signed_in? %>

      <h1>Goodday <%=current_user.name %></h1>

      <% end %>


   </div>
  </div>

  <div class="container">
    <div class="greeting">
      <h4>See all your bookings</h4>
      <div id="book_again">
      <%= link_to "Book another talent", talents_path, class: "btn btn-primary"%>
      </div>
    </div>
    <div class="row-clearfix">
        <% @bookings.each do |booking| %>
          <%=  render "dashboard/booking_card", booking: booking %>
        <% end %>
  </div>
</div>

<div class="container text-center" id = "give-margin-bottom">

</div>


