<h1>Hello World</h1>

<h3>skills</h3>


<%= link_to "Edit your skills", edit_user_path(current_user) %>

<h3>bio</h3>

<%= link_to "Edit your bio", edit_user_path(current_user) %>

<%= current_user.bio %>
