<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="card-wrap">
      <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= talent.picture %>');">

        <div class="card-title">
          <h2><%= talent.title %></h2>
        </div>


         <%= link_to "", talent_path(talent), class: 'card-link' %>
      </div>
      <div class="card-description">
         <strong>description: </strong>
         <p> <strong>price: </strong> <%=talent.price%> € </p>
       </div>
  </div>
</div>




